.homepage-main {
  width: 100vw;
  height: 100vh;
}

.hompage-left-container p {
  margin: 0;
  font-family: "Righteous", cursive;
  font-size: var(--font-xxl);
}

.homepage-right-container h1 {
  height: 50%;
  margin: 0;
  font-family: "Comfortaa", cursive;
  font-size: var(--font-xl);
}

.homepage-rightbottom-container {
  height: 50%;
}

.homepage-rightbottom-container button {
  font-family: "Comfortaa", cursive;
  font-size: var(--font-m);
  font-weight: 700;
  border: none;
}

.bg-red {
  color: var(--white);
  background-color: var(--red-100);
}

.hover-red:hover {
  background-color: var(--red-60);
}

.bg-cream {
  color: var(--red-100);
  background-color: var(--cream-60);
}

.bg-white {
  color: var(--red-100);
  background-color: var(--white);
}

.hover-cream:hover {
  background-color: var(--cream-100);
}
