.come-back-again_container {
  width: 100vw;
  height: 60vh;
  color: var(--red-100);
  background-color: var(--cream-60);
  font-family: "Comfortaa", cursive;
}

.mayo-image_container {
  width: 240px;
  height: 240px;
}

.mayo-image_container img {
  max-width: 100%;
}
