.randomizer_container {
  width: 100vw;
  height: 60vh;
  border: 2px solid blue;
}

.mayonnaise-content_container {
  border: 2px solid green;
  width: 240px;
  height: 240px;
}

.mayonnaise_img {
  max-width: 100%;
  max-height: 100%;
}

.mayonnaise-content_container h2 {
  font-family: "Comfortaa", cursive;
  font-size: var(--font-l);
  font-weight: 700;
}

#spoon_img {
  width: 20%;
  transform: rotate(-45deg);
}
